<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="design.job.dao.GradeDao">
	<insert id="addGradeTest" parameterType="java.util.List">

		<selectKey resultType ="java.lang.Long" keyProperty= "id" order= "AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey >

		INSERT  INTO
		grade(subject,student,score)
		VALUES
		<foreach collection="list" item="g" index="index"
				 separator=",">
			(
			#{g.subject},#{g.student},#{g.score}
			)
		</foreach>
	</insert>

	<insert id="addGrade" parameterType="design.job.entity.Grade" useGeneratedKeys="true" keyProperty="id" >
		INSERT  INTO
		grade(subject,student,score)
		VALUES
		(#{subject},#{student},#{score})
	</insert>

	<select id="queryAllGrade" parameterType="design.job.entity.Grade"  resultType="java.util.Map">
			SELECT
			student.name as studentname,
			student.id as studentid,
			grade.id,
			grade.score,
			subject.id as subjectid,
			subject.name as subjectname
			FROM
			grade ,
			student,
			subject
			WHERE
			grade.subject = subject.id AND
			grade.student = student.id
			<if test="student!=null and student!=0">
				and grade.student=#{student}
			</if>
	</select>
	<update id="updateMySQLSettingMax_connections"  parameterType="Integer">
		set GLOBAL max_connections=#{max_connections}
	</update>

	<update id="updateMySQLSettingQuery_cache_size"  parameterType="Long">
		set GLOBAL innodb_buffer_pool_size=#{query_cache_size}
	</update>

	<select id="queryAllGradeAndResetMySQL" parameterType="design.job.entity.MySQLSetting"  resultType="java.util.Map">
		SELECT id FROM test.grade limit 3000000,10
	</select>

<update id="updateGrade"  parameterType="design.job.entity.Grade">
		update grade
		<trim prefix="set" suffixOverrides=",">
			<if test="name!=null">name=#{name},</if>
			<if test="username!=null">username=#{username},</if>
			<if test="password!=null">password=#{password},</if>
		</trim>
		where id=#{id}
	</update>

	<delete id="deleteGrade" parameterType="int">
		delete from grade where id=#{id}
	</delete>
</mapper>